<h1>New Book</h1>
<%= form_with model: @book, local: true do |f| %>
  <h4>本のタイトル</h4>
  <%= f.text_field :title%>
  <h4>感想</h4>
  <%= f.text_area :body%>
  <%= f.submit 'Create Book'%>
<% end %>

<h2>Books</h2>
<table>
  <thead>
    <tr>
    <th></th>
    <th>本のタイトル</th>
    <th>感想</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @books.each do |book| %>
    <td></td>
    <td>
      <%= link_to book_path(book.id) do %>
      <%= book.title%>
    <% end %>
    </td>
    <td><%= book.body%></td>
    </tr>
    <%end%>
  </tbody>
</table>